@import "variables";

.header {
  padding: 2% 10%;

  &__divider {
    border: 0.0625em solid $light-grayish-blue;
    margin-top: 1.4375em;
  }

  @media (max-width: 62.5em) {
    padding: 2%;
  }
}

.mobile-nav {
  &__toggle-btn {
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 0.9375em;
  }
}

.navbar {
  &__logo {
    &:focus {
      outline: 2px solid #007BFF;
      outline-offset: 4px;
    }
  }

  &__list {
    padding-inline-start: 0;
  }

  &__item {
    cursor: pointer;
    display: inline;
    font-size: $fs-sm;
    position: relative;

    &:first-of-type {
      margin-left: 3.4375em;
    }

    &:not(:last-of-type) {
      margin-right: 2.1875em;
    }

    &--active,
    &:hover {
      font-weight: $fw-bold;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2.75em;
        width: 100%;
        height: 0.25em;
        background-color: $orange;
      }
    }

    &:focus {
      outline: 2px solid #007BFF;
      outline-offset: 4px;
    }
  }

  &__profile {
    width: 3.4375em;
    height: 3.4375em;

    &:hover {
      border: 3px solid orange;
      border-radius: 100%;
      cursor: pointer;
    }

    @media (max-width: 23.125rem) {
      width: 2.8125rem;
      height: 2.8125rem;
    }
  }
}